.Contenedor {
  min-height: 100vh;
  background-image: url("../../imagenes/vajilla.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
}

.Textos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  min-height: 90vh;
}

.TextoAlquiler {
  font-size: 50px;
  color: #fff;
  text-decoration: overline;
  text-shadow: 3px 3px 3px gold;
}

.TextoSlogan {
  font-size: 35px;
  color: rgb(221, 192, 0);
  text-decoration: overline;
  text-shadow: 3px 3px 3px #fff;
}

.TextoMain {
  font-size: 45px;
  color: #fff;
  text-decoration: underline;
}
