.Contenedor {
  min-height: 100vh;
  background-image: url("../../imagenes/vajilla.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
}

.Textos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  min-height: 90vh;
}

.TextoAlquiler {
  font-size: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.731);
  font-family: Fester Regular Italic;
  text-decoration: overline;
  align-self: center;
  padding: 10px;
  border-radius: 20px;
}

.TextoSlogan {
  font-size: 35px;
  text-decoration: overline;
  color: gold;
  background-color: rgba(0, 0, 0, 0.731);
  align-self: center;
  padding: 10px;
  border-radius: 20px;
}

.TextoMain {
  font-size: 45px;
  color: #fff;
  text-decoration: underline;
}

.WhatsApp {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 5px;
  margin: 15px;
  cursor: pointer;
}
