.Contenedor {
  min-height: 100vh;
  background-image: url("../../imagenes/vajilla.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
}

.ContenedorDeSecciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-height: 90vh;
  gap: 20px;
}

.Sección {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40vw;
  padding: 30px;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
  text-align: center;
  border: 1px solid gold;
  background-color: rgba(0, 0, 0, 0.267);
  border-radius: 20px;
}

.Contactar {
  display: flex;
  flex-direction: column;
}

.Titulo {
  font-size: 35px;
  color: gold;
  text-decoration: underline;
}

.Subtitulo {
  font-size: 25px;
  color: #fff;
}

.Boton {
  display: flex;
  justify-content: center;
  color: gold;
  border: 1px solid gold;
  width: 200px;
  background: transparent;
  height: 50px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 1623px) {
  .ContenedorDeSecciones {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
