.ContainerPrincipal {
  min-height: 25vh;
  background-color: rgb(80, 0, 0);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.Container2 {
  align-self: center;
  align-items: center;
  text-align: center;
}

.Titulo {
  font-size: 25px;
  color: rgb(221, 192, 0);
  text-align: center;
}

.Subtitulos {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.Subtitulos2 {
  font-size: 20px;
  color: #939393;
  text-align: center;
}

.Imagen {
  height: 60px;
  width: 60px;
}

.Sección {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  text-align: center;
}

.LogoYnombre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Alinear {
  align-items: center;
  text-align: center;
}